<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="GC360.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <GC360.Properties.Settings>
            <setting name="MainWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MainWindowTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MostRecentSetting" serializeAs="String">
                <value>default</value>
            </setting>
        </GC360.Properties.Settings>
    </userSettings>
</configuration>
